<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
	<p>
		страница регистрации новых любетелей котиков и сисек.
Перед тем, как зарегистрироваться стоит посмотреть 
<a href="https://campzzz.files.wordpress.com/2015/11/l5km2.jpg"> сюда
</a>
 и 
<a href="http://cdn.attackofthecute.com/March-23-2015-18-53-42-h.jpg"> сюда
</a>
. Если нравится, то регистрироваться можно. Если нет, то отправляйтесь в ад
</p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>